function isOk(updated, interval) {
  if (!updated) return false
  updated = updated.replace(' ', 'T').slice(0, -5) // 兼容iOS
  var date = getDate(updated)
  date.setHours(date.getHours() + 8)
  var diff = (getDate() - date) / 1000 / 60 / 60
  return diff < interval + 1
}

function toFixed(value) {
  return value.toFixed(1)
}

module.exports = {
  isOk: isOk,
  toFixed: toFixed,
}